body {
  background-image: url("fondo.jpeg");
  background-color: rgb(255, 255, 255);
  margin: 0;
}
#menu {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #1d1b1b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
}



li a:hover {
  color: rgb(117, 106, 106);
}

#cajas {
  width: 80%;
  background-color: rgb(255, 0, 234);
  float: right;
}

p {
  margin: 0;
  height: 245px;
}

#parrafo1 {
  background-color: #00fff2;
}

#parrafo2 {
  background-color: #ffee00;
}

#parrafo3 {
  background-color: #ff5900;
}

#parrafo4 {
  background-color: #ff0000;
}
.font{
  font-family: sans-serif;
}
p {
  color: #fff;
  font-size: 35px;
  text-align: center;
}