* {
  box-sizing: border-box;
}

body {
  background-image: url("fondo.jpeg");
  font-family: "Poppins";
}

header .contenedor {
  display: flex;
  justify-content: space-between;
}
header p {
  font-weight: bold;
  font-size: 20px;
}

.contenedor {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

header ul {
  display: flex;
}

li {
  list-style: none;
}

header ul li a {
  display: flex;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  text-decoration: none;
  margin-right: 20px;
}

li a:hover {
  color: rgb(117, 106, 106);
}

#cajas {
  width: 100%;
  background-color: rgb(255, 0, 234);
  float: right;
}

#pr {
  background-color: #00fff2;
  box-sizing: border-box;
}

#pr2 {
  background-color: #ffee00;
  box-sizing: border-box;
}

#pr3 {
  background-color: #ff5900;
  box-sizing: border-box;
}

#pr4 {
  background-color: #ff0000;
  box-sizing: border-box;
}
.font {
  font-family: sans-serif;
}
